---
- name: Copy my SSH key
  authorized_key:
    user: "{{ ansible_user }}"
    key:  "https://github.com/neckhair.keys"

- name: apt-get update
  become: True
  apt:
    update_cache: yes
    cache_valid_time: 86400 # once a day

- name: Install common packages
  become: True
  apt:
    name: "{{ item }}"
    state: installed
  with_items:
    - bundler
    - git
    - rpi-update # to update the firmware
    - ruby
    - unattended-upgrades
    - vim

- include: wifi.yml
- include: camera.yml
- include: desktop.yml
  when: common_desktop
- include: arduino.yml
  when: common_arduino and common_desktop
